<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="activityMaster">
      <h2 data-cy="activityMasterDetailsHeading">
        <span jhiTranslate="hclMonitorToolApp.activityMaster.detail.title">Activity Master</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ activityMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="hclMonitorToolApp.activityMaster.activityMasterId">Activity Master Id</span></dt>
        <dd>
          <span>{{ activityMaster.activityMasterId }}</span>
        </dd>
        <dt><span jhiTranslate="hclMonitorToolApp.activityMaster.activity">Activity</span></dt>
        <dd>
          <span>{{ activityMaster.activity }}</span>
        </dd>
        <dt><span jhiTranslate="hclMonitorToolApp.activityMaster.changeRequestCode">Change Request Code</span></dt>
        <dd>
          <span>{{ activityMaster.changeRequestCode }}</span>
        </dd>
        <dt><span jhiTranslate="hclMonitorToolApp.activityMaster.projectActivityCode">Project Activity Code</span></dt>
        <dd>
          <span>{{ activityMaster.projectActivityCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/activity-master', activityMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
