<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="changeRequestMaster">
      <h2 data-cy="changeRequestMasterDetailsHeading">
        <span jhiTranslate="hclMonitorToolApp.changeRequestMaster.detail.title">Change Request Master</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ changeRequestMaster.id }}</span>
        </dd>
        <dt><span jhiTranslate="hclMonitorToolApp.changeRequestMaster.changeRequestId">Change Request Id</span></dt>
        <dd>
          <span>{{ changeRequestMaster.changeRequestId }}</span>
        </dd>
        <dt><span jhiTranslate="hclMonitorToolApp.changeRequestMaster.changeRequestCode">Change Request Code</span></dt>
        <dd>
          <span>{{ changeRequestMaster.changeRequestCode }}</span>
        </dd>
        <dt><span jhiTranslate="hclMonitorToolApp.changeRequestMaster.projectActivityCode">Project Activity Code</span></dt>
        <dd>
          <span>{{ changeRequestMaster.projectActivityCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/change-request-master', changeRequestMaster.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
