<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading" jhiTranslate="hclMonitorToolApp.employee.home.createOrEditLabel">
        Create or edit a Employee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hclMonitorToolApp.employee.employeeId" for="field_employeeId">Employee Id</label>
          <input
            type="number"
            class="form-control"
            name="employeeId"
            id="field_employeeId"
            data-cy="employeeId"
            formControlName="employeeId"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hclMonitorToolApp.employee.employeeName" for="field_employeeName"
            >Employee Name</label
          >
          <input
            type="text"
            class="form-control"
            name="employeeName"
            id="field_employeeName"
            data-cy="employeeName"
            formControlName="employeeName"
          />
          <div
            *ngIf="editForm.get('employeeName')!.invalid && (editForm.get('employeeName')!.dirty || editForm.get('employeeName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('employeeName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('employeeName')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="hclMonitorToolApp.employee.employeeSpecialization"
            for="field_employeeSpecialization"
            >Employee Specialization</label
          >
          <input
            type="text"
            class="form-control"
            name="employeeSpecialization"
            id="field_employeeSpecialization"
            data-cy="employeeSpecialization"
            formControlName="employeeSpecialization"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="hclMonitorToolApp.employee.manager" for="field_manager">Manager</label>
          <select class="form-control" id="field_manager" data-cy="manager" name="manager" formControlName="manager">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="managerOption.id === editForm.get('manager')!.value?.id ? editForm.get('manager')!.value : managerOption"
              *ngFor="let managerOption of managersSharedCollection; trackBy: trackManagerById"
            >
              {{ managerOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
